<%- include("header"); -%>
<h1>THIS IS THE ABOUT PAGE</h1>
<p>vghgvjgjfhhjkfgvjkhgfcvjgfghjghfhjabsm  jshbjhsjbshjbms jjsbhjbhjgyus  jhgsnmbjyhks   gws s wsnb shgghjbjswbj</p>

<%- include("footer"); -%>